<% title = 'business' %>
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <% include ../partials/header %>
    <main class="container text-center mt-1">
        <form style="max-width: 500px" class="auth" action="/business" method="POST">
            <h1 class="h3">Create business</h1>
            <div class="form-group text-left">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" required autofocus>
            </div>
            <div class="form-group text-left">
                <label for="info">Info</label>
                <textarea name="info" class="form-control" id="info" rows="3"></textarea>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group  text-left">
                        <label for="city">City</label>
                        <input type="text" class="form-control" name="city" id="city" required>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group text-left">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" name="address" id="address" required>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Create business</button>
        </form>
    </main>
    <% include ../partials/foot %>
</body>

</html>