<% title = 'Profile' %>
<!DOCTYPE html>
<html lang="en">
<head>
<% include ../partials/head %>
</head>
<body>
    <% include ../partials/header %>
    
    <h1>Bienvenido</h1>
    <p><%= user.email %></p>
    
    <% include ../partials/foot %>
</body>
</html>