<% title = name %>
<!DOCTYPE html>
<html lang="<%= locale %>">

<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
    <main class="container mt-3">
        <h1><%= name %></h1>
        <hr>
        <div class="bio">
            <%= bio %>
        </div>
    </main>
    <% include ../partials/foot %>
</body>

</html>