<% title = 'Profile' %>
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
    <main class="container">
        <h1>Perfil de <%= name %></h1>
        <p><%= email %></p>
    </main>
    <% include ../partials/foot %>
</body>

</html>