<% title = 'Signin' %>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/header %>

    <form action="/signin" method="POST">
        <label for="email">email</label>
        <input type="email" name="email">
        <label for="password">password</label>
        <input type="password" name="password">

        <button type="submit">Signin</button>
    </form>

    <% if (signinMessage) { %>
        <div><%=signinMessage %></div>
    <% } %>
        
    <% include ../partials/foot %>
</body>
</html>