<% include head %>

<form action="/signup" method="POST">
    <label for="email">email</label>
    <input type="email" name="email">
    <label for="password">password</label>
    <input type="password" name="password">
    <button type="submit">Signup</button>
</form>
<% if (signupMessage) { %>
    <div><%=signupMessage %></div>
<% } %>



<% include foot %>