body {
    height: 100vh;
}

.auth .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.auth {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
    font-weight: 400;
}

.auth .form-control:focus {
    z-index: 2;
}