<footer class="footer d-flex align-items-center justify-content-between">
    <div class="ml-5">
        <p class="text-muted m-0 ">&copyAnimal Social 2019</p>
    </div>
    <div class="mr-5">
        <div class="btn-group">
            <form class="d-inline-block" action="/lang/es" method="get">
                <button class="btn" type="submit">
                    <svg class="svg-icon svg-flag" viewBox="0 0 20 20">
                        <rect x="0" y="3" width="20" height="7" style="fill:#ffff00" />
                        <rect x="0" y="10" width="20" height="3.5" style="fill:#000080" />
                        <rect x="0" y="13.5" width="20" height="3.5" style="fill:#ff0000" />
                    </svg>
                    Español
                </button>
            </form>
            <form class="d-inline-block" action="/lang/en" method="get">
                <button class="btn" type="submit">
                    <svg class="svg-icon svg-flag" viewBox="0 0 20 20">
                        <rect y="3" width="20" height="14" style="fill:#aa0000" />
                        <rect y="3" width="20" height="1.75" />
                        <rect y="6.5" width="20" height="1.75" />
                        <rect y="10" width="20" height="1.75" />
                        <rect y="13.5" width="20" height="1.75" />
                        <rect y="3" width="11" height="8" style="fill:#003380" />
                        <path transform="matrix(.18979 .23108 -.22032 .19905 71.637 -47.29)"
                            d="m2.6546 282.52-.23143 1.3501-.79427-1.116-1.3555.1971.81593-1.1003-.60633-1.2283 1.2985.43599.98079-.95621-.013384 1.3697 1.2125.6373z" />
                        <path transform="matrix(.18979 .23108 -.22032 .19905 69.437 -47.306)"
                            d="m2.6546 282.52-.23143 1.3501-.79427-1.116-1.3555.1971.81593-1.1003-.60633-1.2283 1.2985.43599.98079-.95621-.013384 1.3697 1.2125.6373z" />
                        <path transform="matrix(.18979 .23108 -.22032 .19905 67.237 -47.322)"
                            d="m2.6546 282.52-.23143 1.3501-.79427-1.116-1.3555.1971.81593-1.1003-.60633-1.2283 1.2985.43599.98079-.95621-.013384 1.3697 1.2125.6373z" />
                        <path transform="matrix(.18979 .23108 -.22032 .19905 65.037 -47.338)"
                            d="m2.6546 282.52-.23143 1.3501-.79427-1.116-1.3555.1971.81593-1.1003-.60633-1.2283 1.2985.43599.98079-.95621-.013384 1.3697 1.2125.6373z" />
                        <path transform="matrix(.18979 .23108 -.22032 .19905 62.837 -47.354)"
                            d="m2.6546 282.52-.23143 1.3501-.79427-1.116-1.3555.1971.81593-1.1003-.60633-1.2283 1.2985.43599.98079-.95621-.013384 1.3697 1.2125.6373z" />
                        <path transform="matrix(.18979 .23108 -.22032 .19905 71.637 -49.484)"
                            d="m2.6546 282.52-.23143 1.3501-.79427-1.116-1.3555.1971.81593-1.1003-.60633-1.2283 1.2985.43599.98079-.95621-.013384 1.3697 1.2125.6373z" />
                        <path transform="matrix(.18979 .23108 -.22032 .19905 69.437 -49.5)"
                            d="m2.6546 282.52-.23143 1.3501-.79427-1.116-1.3555.1971.81593-1.1003-.60633-1.2283 1.2985.43599.98079-.95621-.013384 1.3697 1.2125.6373z" />
                        <path transform="matrix(.18979 .23108 -.22032 .19905 67.237 -49.516)"
                            d="m2.6546 282.52-.23143 1.3501-.79427-1.116-1.3555.1971.81593-1.1003-.60633-1.2283 1.2985.43599.98079-.95621-.013384 1.3697 1.2125.6373z" />
                        <path transform="matrix(.18979 .23108 -.22032 .19905 65.037 -49.533)"
                            d="m2.6546 282.52-.23143 1.3501-.79427-1.116-1.3555.1971.81593-1.1003-.60633-1.2283 1.2985.43599.98079-.95621-.013384 1.3697 1.2125.6373z" />
                        <path transform="matrix(.18979 .23108 -.22032 .19905 62.837 -49.549)"
                            d="m2.6546 282.52-.23143 1.3501-.79427-1.116-1.3555.1971.81593-1.1003-.60633-1.2283 1.2985.43599.98079-.95621-.013384 1.3697 1.2125.6373z" />
                        <path transform="matrix(.18979 .23108 -.22032 .19905 71.637 -51.679)"
                            d="m2.6546 282.52-.23143 1.3501-.79427-1.116-1.3555.1971.81593-1.1003-.60633-1.2283 1.2985.43599.98079-.95621-.013384 1.3697 1.2125.6373z" />
                        <path transform="matrix(.18979 .23108 -.22032 .19905 69.437 -51.695)"
                            d="m2.6546 282.52-.23143 1.3501-.79427-1.116-1.3555.1971.81593-1.1003-.60633-1.2283 1.2985.43599.98079-.95621-.013384 1.3697 1.2125.6373z" />
                        <path transform="matrix(.18979 .23108 -.22032 .19905 67.237 -51.711)"
                            d="m2.6546 282.52-.23143 1.3501-.79427-1.116-1.3555.1971.81593-1.1003-.60633-1.2283 1.2985.43599.98079-.95621-.013384 1.3697 1.2125.6373z" />
                        <path transform="matrix(.18979 .23108 -.22032 .19905 65.037 -51.727)"
                            d="m2.6546 282.52-.23143 1.3501-.79427-1.116-1.3555.1971.81593-1.1003-.60633-1.2283 1.2985.43599.98079-.95621-.013384 1.3697 1.2125.6373z" />
                        <path transform="matrix(.18979 .23108 -.22032 .19905 62.837 -51.743)"
                            d="m2.6546 282.52-.23143 1.3501-.79427-1.116-1.3555.1971.81593-1.1003-.60633-1.2283 1.2985.43599.98079-.95621-.013384 1.3697 1.2125.6373z" />
                    </svg>
                    English
                </button>
            </form>
        </div>
    </div>
</footer>