<nav>
    <span class="navbar-toggle" id="js-navbar-toggle">
        <i class="fas fa-bars"></i>
    </span>
    <a href="/" class="logo">Animal Social</a>

    <ul class="main-nav" id="js-menu">
        <% if (!user) { %>
        <li>
            <a href="/signin">signin</a>
        </li>
        <li>
            <a href="/signup">signup</a>
        </li>
        <% } else {%>
        <li>
            <a href="/profile">Profile</a>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
        <% }%>
    </ul>




</nav>